/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin-left: 30px;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 90px;
    margin-left: 0;
}

header .header-line{
    font-size: 32px;
    line-height: 90px;
    
}

table{
    
    border-collapse: separate;
    /*border-spacing: 10px;*/
    /*width: auto;*/
}

td{
    margin-left: 0;
}

h3{
    
}

.new-title{
    margin-left: 0;
}

.new-title h4{
    padding-bottom: 0;
}

.new-body{
    margin-left: 0;
}

.new-body h4{
    padding-bottom: 0;
}

form{
    padding-left: 0;
}

.show-title{
    display: flex;
    font-size: 20px;
}

.show-body{
    display: flex;
    font-size: 20px;
}